// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    background-color: $white;
    color: $gray-800;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-size: 1rem;
}

.navbar-laravel {
    background-color: $blue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.container {
    max-width: 1200px;
}

.box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.material-icons {
    font-size: 2.4em;
    cursor: pointer;
}

.card {
    width: 300px;
}

.card .card-image .card-title {
    color: $black;
    font-weight: 400
}

.cart {
    margin-top: 40px;
}

.collection .collection-item {
    display: flex;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: $purple;
    display: block;
    margin-bottom: 20px;

}

.collection .collection-item img {
    width: 150px;
    margin-right: 25px;
}

.collection .collection-item {
    display: flex;
}

.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: $purple;
    display: block;
    margin-bottom: 20px;

}

.item-desc {
    align-self: center;
}

.card .card-image .card-title {
    color: black;
    font-weight: 400
}

.cart {
    margin-top: 40px;
}


.item-desc {
    align-self: center;
}



.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: left;
}

.nav-link > a {
    color: $gray-200;
    padding: 0 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: unset;
}

.color-red {
    color: $red;
}
